body
{
	width: 570px;
	height: 350px;
	font-family: sans-serif;
	overflow: hidden;
	background-color: #1e1e1e;
}

a{
	outline: none;
}

div#download_block
{
	clear: both;
	height: 520px;
	overflow-x: hidden;
	overflow-y: auto;
}

h2#download_title
{
	color: #ff9100b7;
	text-align: center;
}

div#download_item_container
{
	height: 420px;
	width: 580px;
	overflow-y: scroll;
	overflow-x: hidden;
}

div#download_item_container::-webkit-scrollbar {
	width: 1em;
	
}

div.download_item
{
	display: table;
	clear: both;
	/*padding: 1px 2px;*/
	padding: 3px;
	overflow: hidden;
	cursor: default;
	width: 580px;
}

div.download_item .left{
	display: table-cell;
	vertical-align: middle;
	width: 460px;
}

div.download_item .left > div{
	display: table-cell;
	vertical-align: middle;
	color: white;
	background-color:#e45345;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 4px;
	
}

div.download_item a
{
	color: #000;
	text-decoration: none;
}

div.download_item:hover a.download_url
{
	color: #ff9100;
	
}


.copy_link_button {
    background-color: #4CAF50;
    border: none;
    color: white !important;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.copy_link_button:hover {
    background-color: #45a049;
}

.right {
	display: table-cell;
    vertical-align: middle;
}
div.download_item .download_button
{
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 4px; }


div.download_item .download_button:hover{
	-webkit-box-shadow: 0px 0px 10px 0px #000;
}

div.download_item a.download_url
{
	margin-left: 10px;
	display: table-cell;
	padding-top: 2px;
	padding-left: 10px;
	max-width: 360px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: Tahoma;
	font-size: 12px;
	color: #ff9100;
	vertical-align: middle;
	height: 100%;
}
div.download_item a.download_url[chunk] {
	font-weight: bold;
}

div.download_item:hover div.download_url{
	text-shadow: 1px 1px 0px #000;
}

div.download_item .item{
	display: table;
	padding-top: 2px;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-family: Tahoma;
	font-size: 12px;
	width: 540px;
	}

div.download_item .line{
	height: 1px;
	max-width: 490px;
	background-color: #677632;
	margin-top: 5px;
	margin-left: 30px;
}


div#download_item_template
{
	display: none;
}

.download_body{
	position: relative;
	height: 36px;
	width: 100%;
	margin-top: 5px;
}
